.data {
  margin: 0 1.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.bar,
.percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.bar {
  background-color: var(--first-color-lighter);
}

.percentage {
  display: block;
  background-color: var(--first-color);
}
