.content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.date {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.link {
  margin-top: var(--mb-0-75);
  padding: 3px 7px;
  border: 1px solid;
  border-radius: 5rem;
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  background-color: var(--body-color);
}

.rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

@media (min-width: 768px) {
  .content {
    margin: 0 8rem;
  }
}
