.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media (max-width: 350px) {
  .service {
    grid-template-columns: max-content;
    justify-content: center;
  }
}
