.content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.content:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--first-color-alt);
}

.btn-icon {
  font-size: 1.25rem;
  transition: 0.3s;
}

.btn:hover .btn-icon {
  transform: translateX(0.25rem);
}

.service-item {
  position: relative;
  margin-bottom: var(--mb-1-5);
}

.item-icon {
  position: absolute;
  top: 3px;
  left: -1.25rem;
  font-size: 1rem;
  color: var(--first-color);
}

@media (max-width: 350px) {
  .content {
    padding-right: 3.5rem;
  }
}
