.scroll {
  /* display: none; */
  width: max-content;
  margin-top: var(--mb-1-5);
}

.link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.link:hover {
  transform: translateY(0.25rem);
}

.text {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.icon {
  color: var(--first-color);
}

@media (min-width: 768px) {
  .scroll {
    margin-top: 6rem;
  }
}
