.container {
  justify-items: center;
  row-gap: 3.5rem;
  padding: 1rem 1rem 0.25rem;
  background-color: var(--first-color-second);
}

.title {
  text-align: center;
  margin-bottom: var(--mb-0-25);
  font-size: var(--h1-font-size);
}

.subtitle {
  font-size: var(--small-font-size);
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.links a {
  transition: 0.3s;
}

.links a:hover {
  color: var(--first-color-lighter);
}

.copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.title,
.subtitle,
.icon,
.links a {
  color: #fff;
}

.socials {
  display: inline-flex;
  gap: 1rem;
  margin-bottom: var(--mb-1);
}

.icon {
  background-color: var(--first-color-second);
  padding: 0;
}

@media (min-width: 568px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 3rem 0 3.5rem;
  }

  .links {
    flex-direction: row;
    gap: 2rem;
  }

  .copy {
    margin-top: 4.5rem;
    grid-column: span 3;
  }
}
