.modal {
  position: fixed;
  z-index: var(--z-modal);
  padding: 1rem 2rem;
  overflow-y: hidden;
  max-width: 1024px;
  top: 25%;
  left: 25%;
  width: 50%;
}

.modalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.modalClosed {
  animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.header {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-2);
}

.body {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.btn {
  display: block;
  margin-left: auto;
  padding: 6px 12px;
  border-radius: 5px;
  border: 2px solid;
  color: var(--first-color);
  font-size: var(--normal-font-size);
}

@media (max-width: 600px) {
  .modal {
    top: 10%;
    width: 80%;
    left: 10%;
  }
}
